 body {
  background-color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-align: center;
}

img {
 width: 75px;
 height: 75px;
 border-radius: 50%;
}

#intro {
  color: #5F9EE9;
  width: 600px;
  display: inline-block;
  font-size: 24px;
  text-align: center;
}

#intro > strong:hover {
  color: #538ACC;
}

#avatar {
  border-radius: 80%;
  width: 125px;
  height: 125px;
  margin: 0 auto;
}

.container { margin: 50px auto 40px auto; width: 600px; text-align: center; }

a { color: #4183c4; text-decoration: none; }
a:hover { text-decoration: underline; }

h1 { letter-spacing: -1px; line-height: 60px; font-size: 60px; font-weight: 100; margin: 0px 0 50px 0; text-shadow: 0 1px 0 #fff; }
p { color: rgba(0, 0, 0, 0.5); margin: 20px 0; line-height: 1.6; }

ul { width: 300px; display: inline-block; list-style: none; margin: 25px 0; padding: 20px; display:  }
li { display: table-cell; font-weight: bold; width: 1%; }

#suggestions {
  margin-top: 35px;
  color: #ccc;
}
#suggestions a {
  color: #666666;
  font-weight: 200;
  font-size: 14px;
  margin: 0 10px;
}
